/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

/* Adapted from https://stackoverflow.com/questions/54702124/rainbow-text-animation-using-only-css */
@keyframes wingo {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0, 0;
  }
}
h5, pre {
  background: linear-gradient(to right,  white,white, black,black, white, white,black,black, black);/*trouble getting the timing I wanted resulted in this mess*/
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: wingo 15s linear infinite;
  background-size: 400% 100%;
}
/* Adapted from https://stackoverflow.com/questions/54702124/rainbow-text-animation-using-only-css */
