/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  padding-bottom: 0px;
  margin: 0px;
  }

.script-display{
  display:inline-block;
  background: url(../img/car.jpg);
  background-size: 150px;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  word-break: break-all;
}
.rainbow{
  font-size: 400%;
  margin-top: 0%;
  margin-bottom: 1%;
  line-height: .8;
}